%html
  %head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7024614-9']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portal CODHAB
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'jeruza', media: 'all'
    = javascript_include_tag 'jeruza', media: 'all'
    = csrf_meta_tags

  %body
    = render 'layouts/templates/jeruza/partials/nav'
    = yield
    = render 'layouts/templates/jeruza/partials/footer'
