= simple_form_for [:cms, @page] do |f|
  .row
    .col-md-3
      = f.association :page_category, prompt: 'selecione...'
      = f.hint link_to 'nova categoria', new_cms_page_category_path, remote: true, class: 'btn btn-danger btn-xs'
  .row
    .col-md-12
      = f.input :title 
  .row
    .col-md-12
      = f.input :content, input_html: {class: 'redactor'}
  .row
    .col-md-2
      = f.input :publish, as: 'select', prompt: 'selecione...'
  %hr/
  .row
    .col-md-2
      = f.button :submit, class: 'btn btn-lg btn-danger'

